@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
  color: #333333;
}

#container {
  padding: 50px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

td {
  padding: 8px;
  border: 1px solid #ccc;
}

thead td {
  font-weight: 600;
  font-size: 0.8rem;
  background: #fafafa;
}
